<div class="container mt-4">
  <h2 class="text-center">New Exhibition</h2>
  <form [formGroup]="exhibicionForm" (ngSubmit)="!exhibicionForm.invalid && createExhibicion(exhibicionForm.value)">
      <!--Name-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="name">Name</label>
          <input novalidate id="name" class="form-control" formControlName="name" placeholder="Exhibition name" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        exhibicionForm.get('name')!.hasError('required') &&
        exhibicionForm.get('name')!.touched">
              Please enter the exhibition name!
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="exhibicionForm.get('name')!.hasError('minlength')">
              The name is too short!
          </div>
      </div>

      <!--Description-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="description">Description</label>
          <input novalidate id="description" class="form-control" formControlName="description" placeholder="Exhibition description"/>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        exhibicionForm.get('description')!.hasError('required') &&
        exhibicionForm.get('description')!.touched
      ">
              Description required
          </div>
      </div>

      <!--Sponsor-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="sponsor">Sponsor</label>
        <select id="sponsor" class="form-control" formControlName="sponsor" placeholder="Select the sponsor">
          <option *ngFor="let sponsor of sponsors; index as i" value="{{sponsor.id}}">{{sponsor.name}}</option>
        </select>
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        exhibicionForm.get('sponsor')!.hasError('required') &&
        exhibicionForm.get('sponsor')!.touched
        ">
            Select a sponsor
        </div>
      </div>


      <!--Museum-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="museum">Museum</label>
        <select id="museum" class="form-control" formControlName="museum" placeholder="Select the museum">
          <option *ngFor="let museum of museums; index as i" value="{{museum.id}}">{{museum.name}}</option>
        </select>
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        exhibicionForm.get('museum')!.hasError('required') &&
        exhibicionForm.get('museum')!.touched
        ">
            Select a museum
        </div>
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="!exhibicionForm.valid">
    Create
  </button>
      <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
    Cancel
  </button>
  </form>
</div>

