@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.container-fluid {
  background-color: #2C3888;
  height: 120px;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-family: "Fjalla One", sans-serif;
  text-shadow: -4px 4px 0px #767fb7,
                 -8px 8px 0px #5560a5,
                 -12px 12px 0px #3e4a94,
                 -16px 16px 0px #344194;
  margin-left: 2%;
}
