div {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.text-center {
  background-color: #2C3888;
  bottom: 0;
}

.p-4 {
  background-color: #2C3888;
}
