<div class="main-container">
    <div class="list-container">
        <div class="list-description">
            <h1>Discover some of the most iconic artworks in the world</h1>
        </div>
        <div class="item-image">
            <div>
                <img src="{{selectedArtwork.mainImage}}"/>
            </div>
        </div>
        <div class="side-list">
            <div class="side-list-title">
                <p>Browse Artworks</p>
            </div>
            <div (click)="browseArtworks()" class="side-list-hint side-list-hint-top">
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-pause hide"></i>
            </div>
            <table id="artworks-list-container" class="" aria-describedby="artworks">
                <tbody>
                    <tr (click)="onSelected(artwork)" *ngFor="let artwork of artworks; index as i">
                        <td>
                            <dd class="list-item" id='{{artwork.id}}'><span class="list-item-text">{{artwork.name}} <div class="list-item-info">{{artwork.artist.name}}</div></span></dd>
                            <div id='bottom-{{artwork.id}}' class="list-item-bottom"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div (click)="browseArtworks()" class="side-list-hint side-list-hint-bottom">
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-pause hide"></i>
            </div>
        </div>
        <div class="item-name-and-description">
            <h1 class="item-name">{{selectedArtwork.name}}</h1>
            <p class="item-description">{{selectedArtwork.description}}</p>
            <a class="item-detail-link" routerLink="/artworks/{{selectedArtwork.id}}"><i class="fa-solid fa-eye"></i>See details</a>
        </div>
        <div class="item-location">
            <i class="fa-solid fa-location-dot test"></i>
            <p class="test">{{selectedArtwork.museum.city}}</p>
        </div>
        <div class="item-relations">
            <h1 id="relation-description">Artist</h1>
            <div class="relation-item artist-item" routerLink="/artists/{{selectedArtwork.artist.id}}">
                <div id="artwork-detail-artist-frame" class="list-image-frame">
                    <img src="{{selectedArtwork.artist.image}}" alt="{{selectedArtwork.artist.name}}" class="list-pic artist-image"/>
                </div>
                <div class="list-image-titel">
                    <h4>{{ selectedArtwork.artist.name }}</h4>
                </div>
            </div>
            <h1 id="relation-description">Museum</h1>
            <div class="relation-item museum-item" routerLink="/museums/{{selectedArtwork.museum.id}}">
                <div id="artwork-detail-museum-frame" class="list-image-frame">
                    <img src="{{selectedArtwork.museum.image}}" alt="{{selectedArtwork.museum.name}}" class="list-pic museum-image"/>
                </div>
                <div class="list-image-titel">
                    <h4>{{ selectedArtwork.museum.name }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>