<div class="main-container">
    <div class="list-container">
        <div class="list-description">
            <h1>Discover some of the most iconic artworks in the world</h1>
        </div>
        <div class="item-image">
            <div>
                <img src="{{selectedArtwork.mainImage}}"/>
            </div>
        </div>
        <div class="side-list">
            <table class="" aria-describedby="artworks">
                <tbody>
                    <tr class="side-list-hint">
                        <p (click)="browseArtworks()">Browse Artworks <i id="animation-icon" class="fa-solid fa-sort animation-control"></i></p>
                    </tr>
                    <tr (click)="onSelected(artwork)" *ngFor="let artwork of artworks; index as i">
                        <td>
                            <dd class="list-item" id='{{artwork.id}}'><span class="list-item-text">{{artwork.name}} <div class="list-item-info">{{artwork.artist.name}}</div></span></dd>
                            <div id='bottom-{{artwork.id}}' class="list-item-bottom"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="item-name-and-description">
            <h1 class="item-name">{{selectedArtwork.name}}</h1>
            <p class="item-description">{{selectedArtwork.description}}</p>
        </div>
        <div class="item-location">
            <i class="fa-solid fa-location-dot test"></i>
            <p class="test">{{selectedArtwork.artist.name}}</p>
        </div>
    </div>
</div>