<div class="main-container">
    <p>Encuentra algunos de los museos mas historicos del mundo</p>
    <div class="list-container">
        <div class="side-list">
            <table class="" aria-describedby="museos">
                <tbody>
                    <tr (click)="onSelected(museo)" *ngFor="let museo of museos; index as i">
                        <td>
                            <dd class="list-item" id='{{museo.id}}'><span class="list-item-text">{{museo.name}} - {{museo.city}}</span></dd>
                            <div id='bottom-{{museo.id}}' class="list-item-bottom"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-content">
            <div>
                <app-museo-detail [museoDetail]="selectedMuseo"></app-museo-detail>
            </div>
        </div>
    </div>
</div>