<div class="main-container">
    <div class="list-container">
        <div class="list-description">
            <h1>Encuentra algunos de los museos mas historicos del mundo</h1>
        </div>
        <div class="side-list-hint">
            <p>Browse Museos <i id="animation-icon" class="fa-solid fa-caret-right animation-control"></i></p>
        </div>
        <div class="item-image">
            <div>
                <!--<app-museo-detail [museoDetail]="selectedMuseo"></app-museo-detail>-->
                <img src="{{selectedMuseo.image}}"/>
            </div>
        </div>
        <div class="side-list">
            <table class="" aria-describedby="museos">
                <tbody>
                    <tr (click)="onSelected(museo)" *ngFor="let museo of museos; index as i">
                        <td>
                            <dd class="list-item" id='{{museo.id}}'><span class="list-item-text">{{museo.name}} - {{museo.city}}</span></dd>
                            <div id='bottom-{{museo.id}}' class="list-item-bottom"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="item-name-and-description">
            <h1 class="item-name">{{selectedMuseo.name}}</h1>
            <p class="item-description">{{selectedMuseo.description}}</p>
        </div>
        <div class="item-location">
            <i class="fa-solid fa-location-dot test"></i>
            <p class="test">{{selectedMuseo.city}}</p>
            <p class="test">{{selectedMuseo.address}}</p>
        </div>
        <div class="item-relations">
            <h1 id="relation-description">Artworks</h1>
            <div class="relation-item" *ngFor="let obra of selectedMuseo.artworks ">
                <div class="list-image-frame" routerLink="/artworks/{{ obra.id }}">
                    <img src="{{obra.mainImage}}" alt="{{obra.name}}" class="list-pic"/>
                </div>
                <div class="list-image-titel" routerLink="/artworks/{{ obra.id }}">
                    <h4>{{ obra.name }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>