<div class="container mt-4">
  <h2 class="text-center">New Movement</h2>
  <form [formGroup]="movimientoForm" (ngSubmit)="!movimientoForm.invalid && createMovement(movimientoForm.value)">
      <!--Name-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="name" >Name</label>
          <input novalidate id="name" class="form-control" formControlName="name" placeholder="Movement name" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        movimientoForm.get('name')!.hasError('required') &&
        movimientoForm.get('name')!.touched" >
              Please enter the name of the movement!
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="movimientoForm.get('name')!.hasError('minlength')" >
              The name is too short!
          </div>
      </div>

      <!--Description-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="description" >Description</label>
          <input novalidate id="description" class="form-control" formControlName="description" placeholder="Movement description" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        movimientoForm.get('description')!.hasError('required') &&
        movimientoForm.get('description')!.touched
      " >
              Description required
          </div>
      </div>

      <!--Country of origin-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="countryOfOrigin">Country of origin</label>
          <input novalidate id="countryOfOrigin" class="form-control" formControlName="countryOfOrigin" placeholder="Country of origin" />
          <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="movimientoForm.get('countryOfOrigin')!.hasError('maxlength')"
          >
          The country name is too long
        </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
          movimientoForm.get('countryOfOrigin')!.hasError('required') &&
          movimientoForm.get('countryOfOrigin')!.touched
          ">
              Country of origin required
          </div>
      </div>

      <!--Active years-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="activeYears">Active years</label>
          <input novalidate id="activeYears" class="form-control" formControlName="activeYears" placeholder="Movement active years" />
          <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="movimientoForm.get('activeYears')!.hasError('maxlength')"
          >
          Active years description is too long
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      movimientoForm.get('activeYears')!.hasError('required') &&
      movimientoForm.get('activeYears')!.touched
      ">
            Active years required
          </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!movimientoForm.valid">
    Create
  </button>
      <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
    Cancel
  </button>
  </form>
</div>
