<div id="create-museo-container" class="create-form-container">
  <form [formGroup]="museoForm" (ngSubmit)="!museoForm.invalid && createMuseo(museoForm.value)" class="create-form">
    <h2 class="text-center form-title" i18n>Agrega un museo y ayuda a ampliar la comunidad</h2>
    <!--Name-->
    <div class="text-input-container">
      <label for="name" class="text-input-label" i18n>Nombre:</label>
      <div id="border-highlight-name" class="border-highlight"></div>
      <span id="name-pseudo-span" class="input-pseudo-span">
        <i id="name-pen-icon" class="fa-solid fa-pen-fancy"></i>
        <i id="name-warning-icon" class="fa-solid fa-circle-exclamation hide"></i>
      </span>
      <input novalidate id="name" class="form-control text-input input" formControlName="name" placeholder="Nombre del museo" maxlength="50"/>
    </div>

    <!--Address-->
    <div class="text-input-container">
      <label class="text-input-label" for="address" i18n>Dirección:</label>
      <div id="border-highlight-address" class="border-highlight"></div>
      <span id="address-pseudo-span" class="input-pseudo-span">
        <i id="address-pen-icon" class="fa-solid fa-pen-fancy pen-icon"></i>
        <i id="address-warning-icon" class="fa-solid fa-circle-exclamation hide"></i>
      </span>
      <input novalidate id="address" class="form-control text-input input" formControlName="address" placeholder="Dirección del museo" maxlength="250"/>
    </div>

    <!--City-->
    <div class="text-input-container">
      <label class="text-input-label" for="city" i18n>Ciudad:</label>
      <div id="border-highlight-city" class="border-highlight"></div>
      <span id="city-pseudo-span" class="input-pseudo-span">
        <i id="city-pen-icon" class="fa-solid fa-pen-fancy pen-icon"></i>
        <i id="city-warning-icon" class="fa-solid fa-circle-exclamation hide"></i>
      </span>
      <input novalidate id="city" class="form-control text-input input" formControlName="city" placeholder="Ciudad donde se ubica el museo" maxlength="250"/>
    </div>

    <!--Image-->
    <div class="text-input-container">
      <label class="text-input-label" for="image" i18n>Imagen:</label>
      <div id="border-highlight-image" class="border-highlight"></div>
      <span id="image-pseudo-span" class="input-pseudo-span">
        <i id="image-pen-icon" class="fa-solid fa-pen-fancy pen-icon"></i>
        <i id="image-warning-icon" class="fa-solid fa-circle-exclamation hide"></i>
      </span>
      <input novalidate id="image" class="form-control text-input input" formControlName="image" placeholder="Ciudad donde se ubica el museo" maxlength="1000"/>
    </div>

    <!--Description-->
    <div class="description-input-container">
      <label class="text-input-label" for="description" i18n>Descripción:</label>
      <div id="border-highlight-description" class="border-highlight"></div>
      <span id="description-pseudo-span" class="input-pseudo-span">
        <i id="description-pen-icon" class="fa-solid fa-pen-fancy pen-icon"></i>
        <i id="description-warning-icon" class="fa-solid fa-circle-exclamation hide"></i>
      </span>
      <textarea novalidate id="description" class="form-control description-input input" formControlName="description" placeholder="Descripción del museo" maxlength="1000"></textarea>
    </div>

    <!--Submit % Cancel Buttons-->
    <div class="form-button-container">
      <div class="submit-button-container">
        <button type="submit" class="submit-button" [disabled]="!museoForm.valid" i18n>
          Crear
        </button>
      </div>
      <div class="cancel-button-container">
        <button type="button" class="cancel-button" (click)="cancelCreation()" i18n>
          Cancelar
        </button>
      </div>
    </div>
    <button id="btn-animation-create-museums" class="btn-animation"><i id="animation-icon-create-museums" class="fa-solid fa-circle-pause animation-control"></i><span>Animation</span></button>
  </form>
</div>
