<div id="create-museo-container" class="create-form-container">
  <form [formGroup]="museoForm" (ngSubmit)="!museoForm.invalid && createMuseo(museoForm.value)" class="create-form">
    <h2 class="text-center form-title" i18n>Agrega un museo y ayuda a ampliar la comunidad</h2>
    <!--Name-->
    <div class="text-input-container">
      <label for="name" class="text-input-label" i18n>Nombre:</label>
      <span class="input-pseudo-span"><i class="fa-solid fa-pen-fancy pen-icon"></i></span>
      <input novalidate id="name" class="form-control text-input" formControlName="name" placeholder="Nombre del museo" />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        museoForm.get('name')!.hasError('required') &&
        museoForm.get('name')!.touched" i18n>
        Por favor ingrese el nombre del museo!
      </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="museoForm.get('name')!.hasError('minlength')" i18n>
        El nombre es demasiado corto!
      </div>
    </div>

    <!--Description-->
    <div class="text-input-container">
      <label class="text-input-label" for="description" i18n>Descripción:</label>
      <span class="input-pseudo-span"><i class="fa-solid fa-pen-fancy pen-icon"></i></span>
      <input novalidate id="description" class="form-control text-input" formControlName="description" placeholder="Descripción del museo" />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        museoForm.get('description')!.hasError('required') &&
        museoForm.get('description')!.touched
        " i18n>
        Descripción requerida
      </div>
    </div>

    <!--Address-->
    <div class="text-input-container">
      <label class="text-input-label" for="address" i18n>Dirección:</label>
      <span class="input-pseudo-span"><i class="fa-solid fa-pen-fancy pen-icon"></i></span>
      <input novalidate id="address" class="form-control text-input" formControlName="address" placeholder="Dirección del museo" />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        museoForm.get('address')!.hasError('required') &&
        museoForm.get('address')!.touched
        " i18n>
        Dirección requerida
      </div>
    </div>

    <!--City-->
    <div class="text-input-container">
      <label class="text-input-label" for="city" i18n>Ciudad:</label>
      <span class="input-pseudo-span"><i class="fa-solid fa-pen-fancy pen-icon"></i></span>
      <input novalidate id="city" class="form-control text-input" formControlName="city" placeholder="Ciudad donde se ubica el museo" />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        museoForm.get('city')!.hasError('required') &&
        museoForm.get('city')!.touched
        " i18n>
        Ciudad requerida
      </div>
    </div>

    <!--Image-->
    <div class="text-input-container">
      <label class="text-input-label" for="image" i18n>Imagen:</label>
      <span class="input-pseudo-span"><i class="fa-solid fa-pen-fancy pen-icon"></i></span>
      <input novalidate id="image" class="form-control text-input" formControlName="image" placeholder="Ciudad donde se ubica el museo" />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        museoForm.get('image')!.hasError('required') &&
        museoForm.get('image')!.touched
        " i18n>
        Imagen requerida
      </div>
    </div>

    <!--Submit % Cancel Buttons-->
    <div class="form-button-container">
      <div class="submit-button-container">
        <button type="submit" class="submit-button" [disabled]="!museoForm.valid" i18n>
          Crear
        </button>
      </div>
      <div class="cancel-button-container">
        <button type="button" class="cancel-button" (click)="cancelCreation()" i18n>
          Cancelar
        </button>
      </div>
    </div>
    <button id="btn-animation-create-museums" class="btn-animation"><i id="animation-icon-create-museums" class="fa-solid fa-circle-pause animation-control"></i><span>Animation</span></button>
  </form>
</div>
