<div class="container mt-4">
    <h2 class="text-center">New Artwork</h2>
    <form [formGroup]="obraForm" (ngSubmit)="!obraForm.invalid && createObra(obraForm.value)">
        <!--Name-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="name">Name</label>
            <input novalidate id="name" class="form-control" formControlName="name" placeholder="Artwork name" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        obraForm.get('name')!.hasError('required') &&
        obraForm.get('name')!.touched">
                Please enter the artwork name!
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="obraForm.get('name')!.hasError('minlength')">
                The name is too short!
            </div>
        </div>

        <!--Description-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="description">Description</label>
            <input novalidate id="description" class="form-control" formControlName="description" placeholder="Artwork description" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        obraForm.get('description')!.hasError('required') &&
        obraForm.get('description')!.touched
      ">
                Description required
            </div>
        </div>

        <!--Year-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="year">Creation Year</label>
            <input type="number" novalidate id="year" class="form-control" formControlName="year" placeholder="Artwork creation year" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
          obraForm.get('year')!.hasError('required') &&
          obraForm.get('year')!.touched
          ">
                Creation year required
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="obraForm.get('year')!.hasError('pattern')">
                The value must be numeric!
            </div>
        </div>

        <!--Type-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="type">Type</label>
            <select novalidate id="type" class="form-control" formControlName="type" placeholder="Artwork type">
              <option value="Painting">Painting</option>
              <option value="Sculpture">Sculpture</option>
              <option value="Object">Object</option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      obraForm.get('type')!.hasError('required') &&
      obraForm.get('type')!.touched
      ">
                Type required
            </div>
        </div>

        <!--Artist-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="artist">Artist</label>
            <select id="artist" class="form-control" formControlName="artist" placeholder="Select the artist">
              <option *ngFor="let artista of artistas; index as i" value="{{artista.id}}">{{artista.name}}</option>
            </select>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
      obraForm.get('artist')!.hasError('required') &&
      obraForm.get('artist')!.touched
      ">
                Select an artist
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!obraForm.valid">
    Create
  </button>
        <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
    Cancel
  </button>
    </form>
</div>