<div class="main-container">
    <div class="detail-container">
        <div class="detail-title">
            <h1>{{ museoDetail.name }}</h1>
        </div>
        <div class="detail-image">
            <div>
                <img src="{{ museoDetail.image }}" />
            </div>
        </div>
        <div class="detail-side-info">
            <div class="detail-description">
                <p id="museum-description-text">{{museoDetail.description}}</p>
            </div>
            <div class="detail-location">
                <i class="fa-solid fa-location-dot test"></i>
                <p>{{ museoDetail.city }}</p>
                <p>{{ museoDetail.address }}</p>
            </div>
        </div>
        <div class="detail-relations">
            <h1 id="relation-description">Obras</h1>
            <div class="relation-item" *ngFor="let artwork of museoDetail.artworks ">
                <div class="list-image-frame" routerLink="/artworks/{{ artwork.id }}">
                    <img src="{{artwork.mainImage}}" alt="{{artwork.name}}" class="list-pic"/>
                </div>
                <div class="list-image-titel" routerLink="/artworks/{{ artwork.id }}">
                    <h4>{{ artwork.name }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="row">
        <div class="col3">
            <dl>
                <dd>
                    <img class="img-fluid" src="{{ museoDetail.image }}" alt="{{ museoDetail.name }}" />
                </dd>
                <dt class="bold" i18n>Descripción</dt>
                <dd>{{ museoDetail.description }}</dd>
                <hr />
                <dt class="bold" i18n>Dirección y ubicación en GoogleMaps</dt>
                <dd>{{ museoDetail.address }}</dd>
                <dt class="bold" i18n>Exhibiciones</dt>
                <dd class="caption"><a routerLink="/exhibiciones/list" i18n>Ver Exhibiciones</a></dd>
                <dt i18n>Obras</dt>
                <dd class="caption" *ngFor="let obra of museoDetail.artworks ">
                    <a routerLink="/artworks/{{ obra.id }} ">
                    {{ obra.name }}
                  </a>
                </dd>
                <hr />
            </dl>
        </div>
    </div>
</div>-->
