<app-header></app-header>

<div class="wrapper">
    <nav id="sidebar" aria-label="main navigation">
        <ul id="nav-list">
            <!-- Inicio -->
            <li class="nav-item" id="link-home">
                <a class="nav-link" href="#" i18n>Inicio</a>
            </li>
            <!-- Museos -->
            <li class="nav-item">
                <a id="item-museos" class="nav-link" (click)="setAccordion('museos')" i18n>
                    Museos
                </a>
                <div id="wrapper-museos" class="wrapper">
                    <ul id="museos" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/museums/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/museums/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nuevo</a></li>
                        </ul>
                </div>
            </li>
            <!-- Exhibiciones -->
            <li class="nav-item">
                <a id="item-exhibiciones" class="nav-link" (click)="setAccordion('exhibiciones')" i18n>
                    Exhibiciones
                </a>
                <div id="wrapper-exhibiciones" class="wrapper">
                    <ul id="exhibiciones" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/exhibiciones/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/exhibiciones/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nueva</a></li>
                    </ul>
                </div>
            </li>
            <!-- Obras -->
            <li class="nav-item">
                <a id="item-obras" class="nav-link" (click)="setAccordion('obras')" i18n>
                    Obras
                </a>
                <div id="wrapper-obras" class="wrapper">
                    <ul id="obras" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/artworks/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/artworks/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nueva</a></li>
                    </ul>
                </div>
            </li>
            <!-- Artistas -->
            <li class="nav-item">
                <a id="item-artistas" class="nav-link" (click)="setAccordion('artistas')" i18n>
                    Artistas
                </a>
                <div id="wrapper-artistas" class="wrapper">
                    <ul id="artistas" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/artists/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/artists/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nuevo</a></li>
                    </ul>
                </div>
            </li>
            <!-- Movimientos -->
            <li class="nav-item">
                <a id="item-movimientos" class="nav-link" (click)="setAccordion('movimientos')" i18n>
                    Movimientos
                </a>
                <div id="wrapper-movimientos" class="wrapper">
                    <ul id="movimientos" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/movements/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/movements/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nuevo</a></li>
                    </ul>
                </div>
            </li>
            <!-- Patrocinadores -->
            <li class="nav-item">
                <a id="item-patrocinadores" class="nav-link" (click)="setAccordion('patrocinadores')" i18n>
                    Patrocinadores
                </a>
                <div id="wrapper-movimientos" class="wrapper">
                    <ul  id="patrocinadores" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/sponsors/list" i18n><i class="fa-solid fa-rectangle-list dropdown-icon"></i>Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/sponsors/create" i18n><i class="fa-solid fa-square-plus dropdown-icon"></i>Nuevo</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div id="content">
        <!-- Main Router Outlet -->
        <main>
            <div class="container-fluid" id="principal">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<app-footer></app-footer>
