<app-header></app-header>

<div class="wrapper">
    <div id="sticky-wrapper">
    <nav id="sidebar" aria-label="main navigation">
        <ul id="nav-list">
            <!-- Home -->
            <li class="nav-item" id="link-home">
                <a class="nav-link" href="#">Home</a>
            </li>
            <!-- Museums -->
            <li class="nav-item">
                <a id="item-museos" class="nav-link" (click)="setAccordion('museos')">
                    Museums
                </a>
                <div id="wrapper-museos" class="wrapper">
                    <ul id="museos" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/museums/list"><i class="fa-solid fa-rectangle-list dropdown-icon"></i>List</a></li>
                        <li><a class="dropdown-item" routerLink="/museums/create"><i class="fa-solid fa-square-plus dropdown-icon"></i>New</a></li>
                        </ul>
                </div>
            </li>
            <!-- Exhibitions -->
            <li class="nav-item">
                <a id="item-exhibiciones" class="nav-link" (click)="setAccordion('exhibiciones')">
                    Exhibitions
                </a>
                <div id="wrapper-exhibiciones" class="wrapper">
                    <ul id="exhibiciones" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/exhibiciones/list"><i class="fa-solid fa-rectangle-list dropdown-icon"></i>List</a></li>
                        <li><a class="dropdown-item" routerLink="/exhibiciones/create"><i class="fa-solid fa-square-plus dropdown-icon"></i>New</a></li>
                    </ul>
                </div>
            </li>
            <!-- Artworks -->
            <li class="nav-item">
                <a id="item-obras" class="nav-link" (click)="setAccordion('obras')">
                    Artworks
                </a>
                <div id="wrapper-obras" class="wrapper">
                    <ul id="obras" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/artworks/list"><i class="fa-solid fa-rectangle-list dropdown-icon"></i>List</a></li>
                        <li><a class="dropdown-item" routerLink="/artworks/create"><i class="fa-solid fa-square-plus dropdown-icon"></i>New</a></li>
                    </ul>
                </div>
            </li>
            <!-- Artists -->
            <li class="nav-item">
                <a id="item-artistas" class="nav-link" (click)="setAccordion('artistas')">
                    Artists
                </a>
                <div id="wrapper-artistas" class="wrapper">
                    <ul id="artistas" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/artists/list"><i class="fa-solid fa-rectangle-list dropdown-icon"></i>List</a></li>
                        <li><a class="dropdown-item" routerLink="/artists/create"><i class="fa-solid fa-square-plus dropdown-icon"></i>New</a></li>
                    </ul>
                </div>
            </li>
            <!-- Movements -->
            <li class="nav-item">
                <a id="item-movimientos" class="nav-link" (click)="setAccordion('movimientos')">
                    Movements
                </a>
                <div id="wrapper-movimientos" class="wrapper">
                    <ul id="movimientos" class="dropdown-list">
                        <li><a class="dropdown-item" routerLink="/movements/list"><i class="fa-solid fa-rectangle-list dropdown-icon"></i>List</a></li>
                        <li><a class="dropdown-item" routerLink="/movements/create"><i class="fa-solid fa-square-plus dropdown-icon"></i>New</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    </div>
    <div id="content">
        <!-- Main Router Outlet -->
        <main>
            <div class="container-fluid" id="principal">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<app-footer></app-footer>
