<div class="container mt-4">
    <h2 class="text-center">New Artist</h2>
    <form [formGroup]="artistaForm" (ngSubmit)="!artistaForm.invalid && createArtista(artistaForm.value)">
        <!--Name-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="name" >Name</label>
            <input novalidate id="name" class="form-control" formControlName="name" placeholder="Artist name" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
          artistaForm.get('name')!.hasError('required') &&
          artistaForm.get('name')!.touched">
                Please enter the artist's name!
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="artistaForm.get('name')!.hasError('minlength')">
                The name is too short!
            </div>
        </div>

        <!--Birth Date-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="birthdate" >Birth Year</label>
            <input novalidate id="birthdate" class="form-control" formControlName="birthdate" placeholder="Artist birth year" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
          artistaForm.get('birthdate')!.hasError('required') &&
          artistaForm.get('birthdate')!.touched
        ">Birth year required</div>
        </div>

        <!--Birth Place-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="birthplace">Birthplace</label>
            <input novalidate id="birthplace" class="form-control" formControlName="birthplace" placeholder="Artist birthplace" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            artistaForm.get('birthplace')!.hasError('required') &&
            artistaForm.get('birthplace')!.touched
            ">
                Birthplace required
            </div>
        </div>

        <!--Image-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="image" >Image</label>
            <input novalidate id="image" class="form-control" formControlName="image" placeholder="Artist image URL" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
        artistaForm.get('image')!.hasError('required') &&
        artistaForm.get('image')!.touched
        ">
                Image required
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!artistaForm.valid">
      Create
    </button>
        <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
      Cancel
    </button>
    </form>
</div>
