/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
* {
    font-family: 'Poppins', sans-serif;
}

caption {
    background-color: #bb285c;
    color: #fff;
    display: block;
    text-align: center;
}

.profile-pic {
    max-width: 100px;
    max-height: 100px;
}

.list-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.list-item {
    width: 350px;
    height: 50px;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    border-top: solid 0px transparent;
    border-bottom: 50px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 3px 3px lightgray);
    border-radius: 1px;
}

.list-item:hover {
    border-right: none;
    border-left: none;
    margin-left: 3px;
    width: 344px;
    height: 55px;
}

.list-item:hover + .list-item-bottom {
    display: none;
}

.list-item:hover >.list-item-text {
    transform: translateY(25px);
}

.side-list {
    max-height: 465px;
    grid-column: 3;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
}

.side-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.main-content {
    grid-column: 1/3;
    max-height: 465px;
}

.main-content img {
    object-fit: cover;
    width: calc(100% - 20px);
    max-height: 465px;
}

.list-item-bottom {
    width: 350px;
    margin:0 0 -4px 0;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    border-top: 10px solid rgba(128, 128, 128, 0.527);
    border-bottom: none;
    padding: 0;
}

.list-item-text {
    transform: translateY(25px) skew(-3deg);
}

.selected-list-item {
    border-bottom: 50px solid #2C3888;
    color: white;
}