/* You can add global styles to this file, and also import other style files */
 
*::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

* {
    font-family: "Urbanist", sans-serif;
    scrollbar-width: none; /* For Firefox */
}

caption {
    background-color: #bb285c;
    color: #fff;
    display: block;
    text-align: center;
}


.list-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.list-description{
    grid-column: 1/3;
    grid-row: 1;
    z-index: 2;
    width: calc(100% - 10px);
    padding: 15px 50% 0 20px;
    color: white;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.4),
              10px 10px 5px rgba(0,0,0,0.3),
              -10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 50%;
    background: linear-gradient(180deg, rgba(0,0,0,0.0.6) 0%, rgba(0,0,0,0) 100%);
}

.side-list-hint {
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
    padding: 15px 30px;
    text-align: right;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.4),
              10px 10px 5px rgba(0,0,0,0.3),
              -10px 10px 5px rgba(0, 0, 0, 0.2);
}

.side-list {
    grid-column: 3;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-height: 465px;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    font-weight: 300;
    font-size: 1.3rem;
    color: #2C3888;
    text-shadow: -1px 1px 0px #747db581;
}

.side-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.item-image {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
    max-height: 465px;
}

.item-image img {
    object-fit: cover;
    height: 465px;
    width: calc(100% - 10px);
    background-image: url('./assets/placeholder-museum.png');
    background-size: contain;
}

.list-item {
    height: 50px;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    border-top: solid 0px transparent;
    border-bottom: 50px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 3px 3px #747db581);
    border-radius: 1px;
}

.list-item:hover {
    border-right: none;
    border-left: none;
    margin-left: 3px;
    width: calc(100% - 6px);
    height: 55px;
    text-shadow: -1px 1px 0px #747db581,
                -1px 2px 0px #aaaec982;
}

.list-item:hover + .list-item-bottom {
    display: none;
}

.list-item:hover >.list-item-text {
    transform: translateY(25px);
}

.list-item-bottom {
    margin:0 0 -4px 0;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
    border-top: 10px solid rgba(128, 128, 128, 0.527);
    border-bottom: none;
    padding: 0;
}

.list-item-text {
    transform: translateY(25px) skew(-3deg);
}

.selected-list-item {
    border-bottom: 50px solid #2C3888;
    color: white;
    text-shadow: -1px 1px 0px #767fb7;
}

.selected-list-item:hover {
    text-shadow: -1px 1px 0px #767fb7,
                -2px 2px 0px #5560a5;
}

.item-name-and-description{
    grid-column: 1/3;
}

.item-location {
    grid-column: 3;
}

.item-relations {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

.relation-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-image-frame {
    position: relative;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(-2px 5px 5px grey);
    cursor: pointer;
}

.list-pic {
    position: relative;
    z-index: 0;
    padding: 15px;
    max-width: 250px;
    max-height: 250px;
    background: transparent;
}

/*------------------------------*/
/* Random frames for list items */
.frame1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame1.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame2.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame3.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame4.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame5.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame6.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame7.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame8::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame8.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame9::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame9.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}

.frame10::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/frame10.png);
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 3px;
}
/*------------------------------*/

.list-image-titel {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
}