<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped" aria-describedby="patrocinadores">
                <thead>
                    <caption id="patrocinadores" i18n>Patrocinadores</caption>
                    <tr>
                        <th caption="col" id="thsponsor">#</th>
                        <th caption="col" class="h4" id="thnombre" i18n>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="onSelected(m)" *ngFor="let m of sponsors; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <dd id="sponsor names">{{m.name}}</dd>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div *ngIf="selected">
                <app-sponsor-detail [sponsorDetail]="selectedSponsor"></app-sponsor-detail>
            </div>
        </div>
    </div>
</div>